{{define "body"}}
{{template "header"}}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Video Downloader</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="/">Home</a></li>-->
        <li><a href="javascript: void(0);"  id="shutdown"><span class="glyphicon glyphicon-off"></span> 結束</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">
  <div class="starter-template">
    <h1>影片下載工具</h1>
    <p class="lead">
          [只支援 HTML5 的瀏覽器]<br>
          [這是一個開源專案]<br>
          [目前僅支援 windows]
    </p>
    {{ if .storagePath}}
        {{if .checkStoragePath }}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>"{{.storagePath}}"</strong> 路徑存在! 影片將會存在這個目錄。</h3>
                </div>
            </div>
        {{else}}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>"{{.storagePath}}"</strong> 不存在或者不是一個目錄!</h3>
                </div>
            </div>
        {{end}}
    {{end}}

{{ if .isWindows}}
    {{ if .ffmpegPath}}
        {{if .checkFFmpegPath }}
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>"{{.ffmpegPath}}"</strong> 檔案存在! 將會使用它來播放影片。</h3>
                </div>
            </div>
        {{else}}
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>"{{.ffmpegPath}}"</strong> 不存在或者不是 ffmpeg 播放器!</h3>
                </div>
            </div>
        {{end}}
    {{end}}
{{end}}
    <form method="POST">
          <div class="">
            <div class="input-group">
              <span class="input-group-addon"><span class="glyphicon glyphicon-folder-open"></span></span>
              <input type="text" class="form-control" name="storagePath" value="{{.storagePath}}" placeholder="選擇影片存放的路徑">
              <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">檢查</button>
              </span>
            </div><!-- /input-group -->
          {{ if .isWindows}}
            <div class="input-group" style="margin-top: 10px;">
              <span class="input-group-addon "><span class="glyphicon glyphicon-film"></span></span>
              <input type="text" class="form-control" id="ffmpeg-path" name="ffmpegPath" value="{{.ffmpegPath}}">
              <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit">檢查</button>
              </span>
            </div><!-- /input-group -->
          {{end}}
          </div>
      </form>
    {{if .checkStoragePath }}
          <div>
            <ul class="list-group">
                {{.urlItem}}
            </ul>
          </div><!-- /.col-lg-6 -->
    {{end}}
</div><!-- /.container -->
{{template "footer"}}
{{end}}
