{{define "footer"}}
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/index.js"></script>
</body>
</html>
{{end}}
