{{define "header"}}
<html>
<head>
    <title>Video Downloader</title>
<link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon"/>
<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/css/index.css" rel="stylesheet">
</head>
<body>
{{end}}

